body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #00bfff;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #fff;
    padding: 20px;
    color: #333;
}

.sidebar h1 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.menu {
    margin-top: 20px;
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s ease;
}

.menu a:hover {
    background-color: #f0f0f0;
}

.menu a i {
    margin-right: 10px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.hamburger {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.hamburger i {
    font-size: 24px;
}

.header-title {
    font-size: 18px;
    font-weight: bold;
}

.content {
    padding: 20px;
}

/* tambahkan style untuk icon font awesome */
.fas {
    font-size: 18px;
    margin-right: 10px;
}